<!DOCTYPE html>
<html lang="pt">
  <head>
    <%-include('partials/head/jogos.ejs')-%>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<%-include('partials/navbar.ejs')-%>
    <main>
      <h1>Jogos</h1>
        </script>
        <script src="vendor/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="teasers.js"></script>
        <div class="container">
        <div class="row justify-content-center">

              <% for (var i in data) { %>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card shadow" style="width: 18rem;">
                            <div class="inner">
                              <img src="<%=data[i]['img'][0]%>" class="card-img-top"/>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">
                                  <%= data[i]["title"][0] %>
                              </h5>
                              <p class="card-text justify-content-center">
                                <%= data[i]["sinopse"][0] %>
                                <br>
                              </p>
                              <p class="cardplat">
                                <strong>Plataformas: </strong> <%= data[i]["platforms"][0] %>
                                <br>
                              </p>
                              <a href="#" class="btn btn-primary" id="btn" onclick="window.open('<%= data[i]["teaser"][0] %>')">Ver teaser</a>
                            </div>
                        </div>
                      </div>

              <% } %>

            </div>
        </div>
    </main>




  </body>
</html>
